body {
    background: linear-gradient(to bottom, #ff96a8, #ff758c);
  }
  
  .container {
    text-align: center;
    margin-top: 100px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff758c;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #ff96a8;
  }
  
  p {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    animation: heartbeat 1s infinite;
  }
  
  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  